app-server/.classpath
app-server/.project
app-server/.settings/.jsdtscope
app-server/.settings/org.eclipse.jdt.core.prefs
app-server/.settings/org.eclipse.m2e.core.prefs
app-server/.settings/org.eclipse.wst.common.component
app-server/.settings/org.eclipse.wst.common.project.facet.core.xml
app-server/.settings/org.eclipse.wst.jsdt.ui.superType.container
app-server/.settings/org.eclipse.wst.jsdt.ui.superType.name
app-server/.settings/org.eclipse.wst.validation.prefs
app-webclient/.vscode/settings.json
app-server/src/main/java/br/com/zer0framework/utils/HttpRequestUtil.java
app-server/src/main/java/br/com/zer0framework/utils/IOUtils.java
app-webclient/.vscode/launch.json
