app-server/.classpath
app-server/.project
app-server/.settings
app-webclient/.vscode
app-server/src/main/java/br/com/zer0framework/utils/HttpRequestUtil.java
app-server/src/main/java/br/com/zer0framework/utils/IOUtils.java
