#todoList {
    display: table;
}

#deleteTodo {
    vertical-align: middle;
    display: table-cell;
    height: 20px;
    width: 50px;
    padding: .0rem 0rem;
}

[type="checkbox"] {
    margin-right: 1rem;
    font-size: 2rem;
}